@using Microsoft.AspNetCore.Hosting
@{
    ViewData["Title"] = "خانه";
}

@inject IHostingEnvironment HostingEnvironment
@*<div class="alert alert-success mt-5">
        <a href="#" class="close" data-dismiss="alert">×</a>
        مثالی از نحوه‌ی سفارشی سازی ASP.NET Core Identity
    </div>*@

<div class="card card-dark">
    <div class="card-header">
        <h4>خوش آمدید!</h4>
    </div>
</div>

<br />
<br />

<div class="row">

    @*@if (Model.Any())
        {
        <div class="col-md-3">
            @foreach (var item in Model)
            {
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    نام درایو
                    <span class="badge badge-dark badge-pill">@item.Name</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    نوع درایو
                    <span class="badge badge-dark badge-pill">@item.DriveType</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    برچسب درایو
                    <span class="badge badge-dark badge-pill">@item.VolumeLabel</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    فرمت درایو
                    <span class="badge badge-dark badge-pill">@item.DriveFormat</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    فضای خالی دردسترس
                    <span class="badge badge-dark badge-pill">@item.AvailableFreeSpace bytes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    کل فضای خالی
                    <span class="badge badge-dark badge-pill">@item.TotalFreeSpace bytes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    سایز کل
                    <span class="badge badge-dark badge-pill">@item.TotalSize bytes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    فضای خالی دردسترس
                    <span class="badge badge-dark badge-pill">@item.AvailableFreeSpaceInMb Mb</span>
                </li>
            </ul>
            }
        </div>
        }*@

    @{
        <div class="col-md-9">
            @if (User.IsInRole(ConstantRoles.Admin))
            {
                <div class="form-group row">
                    <div class="col-md-4">
                        <language-culture id="language-culture">
                        </language-culture>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        @{
                            var cultures = System.Globalization.CultureInfo
                                .GetCultures(System.Globalization.CultureTypes.SpecificCultures)
                                .OrderBy(x => x.EnglishName)
                                .Select(x => new SelectListItem
                                {
                                    Value = x.IetfLanguageTag,
                                    Text = $"{x.EnglishName}. {x.IetfLanguageTag}"
                                })
                                .ToList();
                        }
                        @*<select id="flags" class="form-control">
                                <option value="">-- انتخاب --</option>
                                @foreach (var culture in cultures)
                                {
                                    <option value="@culture.Value">@culture.Text</option>
                                }
                            </select>*@
                        <select class="form-control" asp-items="@cultures" id="language">
                            <option value="">-- انتخاب --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        @{
                            var timeZones = TimeZoneInfo.GetSystemTimeZones()
                                .Select(x => new SelectListItem
                                {
                                    Value = x.Id,
                                    Text = $"{x.DisplayName}"
                                })
                                .ToList();
                        }
                        <select class="form-control" asp-items="@timeZones" id="timeZones" dir="ltr">
                            <option value="">-- انتخاب --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        @{
                            var baseDirectory = System.IO.Path.Combine(HostingEnvironment.WebRootPath, @"images\flags");

                            var flags = System.IO.Directory.EnumerateFiles(baseDirectory, "*.png")
                                .Select(p => new SelectListItem(p.Remove(0, baseDirectory.Length + 1), p.Remove(0, baseDirectory.Length + 1)))
                                .ToList();
                        }
                        <select id="flags" class="form-control">
                            <option value="">-- انتخاب --</option>
                            @foreach (var flag in flags)
                            {
                                <option value="@flag.Value" data-content="<span class=''><img src='/images/flags/@flag.Value' /> @flag.Text</span>">@flag.Text</option>
                            }
                        </select>
                    </div>
                </div>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <security-trimming asp-area="" asp-controller="Menus" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="Menus" asp-action="Index">
                                <i class="fas fa-bars"></i> منو ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="Categories" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="Categories" asp-action="Index">
                                <i class="fas fa-tasks"></i> گروه ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="Pages" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="Pages" asp-action="Index">
                                <i class="fas fa-sticky-note"></i> صفحه ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="SlideShow" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="SlideShow" asp-action="Index">
                                <i class="fas fa-images"></i> اسلاید شو ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="Folders" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="Folders" asp-action="Index">
                                <i class="fas fa-folder"></i> پوشه ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="Brands" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="Brands" asp-action="Index">
                                <i class="fas fa-copyright"></i> برند ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="ContactUsManagement" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="ContactUsManagement" asp-action="Index">
                                <i class="fas fa-phone"></i> تماس مشتری ها
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="SiteSettings" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="SiteSettings" asp-action="Index">
                                <i class="fas fa-cog"></i> تنظیمات نمایشی سایت
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="UsefulLinks" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="UsefulLinks" asp-action="Index">
                                <i class="fa fa-link"></i> لینک های مفید
                            </a>
                        </div>
                    </div>
                </security-trimming>

                <security-trimming asp-area="" asp-controller="VisitorsStatistics" asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="VisitorsStatistics" asp-action="Index">
                                <i class="fa fa-history"></i> آمار بازدید
                            </a>
                        </div>
                    </div>
                </security-trimming>

                @if (User.IsInRole(ConstantRoles.Admin))
                {
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="FileUpload" asp-action="Index">
                                File Uploader
                            </a>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-dark btn-block text-right" asp-controller="StaticContents" asp-action="Index">
                                <i class="fas fa-file-code"></i> محتواهای ثابت
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

@section Styles
{
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            $('#flags').selectpicker({
                liveSearch: true
            });

            $('#language-culture').selectpicker({
                liveSearch: true
            });

            $('#language').selectpicker({
                liveSearch: true
            });

            $('#timeZones').selectpicker({
                liveSearch: true
            });
        });
    </script>
}