@model IEnumerable<PictureViewModel>

@{
    ViewData["Title"] = "لیست فایل ها";
}

@section styles
{
    <!-- blueimp Gallery styles -->
    <link href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/blueimp-gallery/css/blueimp-gallery-indicator.css" rel="stylesheet" asp-append-version="true" />

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link href="~/lib/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/blueimp-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/sweetalert2/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />
}

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<table role="presentation" class="table table-striped">
    <tbody class="files">
        @foreach (var item in Model)
        {
            <tr class="template-download fade in">
                @if (Hatra.Common.Extensions.ImageExtensions.IsImage(item.Extension))
                {
                    <td>
                        <span class="preview">
                            <a href="@item.Url" title="@item.Name" download="@item.Name" data-gallery>
                                <img src="@item.ThumbnailUrl" alt="@item.Name">
                            </a>
                        </span>
                    </td>
                    <td>
                        <p class="name">
                            <a href="@item.Url" title="@item.Name" download="@item.Name" data-gallery id="@item.Id">
                                @item.Name
                            </a>
                        </p>
                    </td>
                }
                else
                {
                    @if (Hatra.Common.Extensions.ImageExtensions.IsFileIsImage(item.Name))
                    {
                        <td>
                            <span class="preview">
                                <a href="@item.Url" title="@item.Name" download="@item.Name" data-gallery>
                                    <img src="@item.ThumbnailUrl" alt="@item.Name">
                                </a>
                            </span>
                        </td>
                        <td>
                            <p class="name">
                                <a href="@item.Url" title="@item.Name" download="@item.Name" data-gallery id="@item.Id">
                                    @item.Name
                                </a>
                            </p>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span><i class="fas fa-file" data-toggle="tooltip" data-placement="bottom" title="@item.Extension?.Remove(0, 1)"></i></span>
                        </td>
                        <td>
                            <p class="name" id="@item.Id">
                                @item.Name
                            </p>
                        </td>
                    }
                }
                <td>
                    <span class="size">@item.Size.ToString("##,###") KB</span>
                </td>
                <td>
                    <a class="btn btn-success" href="#" id="btnCopy-@item.Id" data-copy-id="@item.Id" data-copy-path="@item.Url" data-copy-name="@item.Name" data-toggle="tooltip" data-placement="bottom" title="ذخیره مسیر">
                        <i class="fas fa-copy"></i>
                    </a>
                    <a class="btn btn-danger" href="#" id="btnDelete-@item.Id" data-delete-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="حذف">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js" asp-append-version="true"></script>
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery-video.js" asp-append-version="true"></script>
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery-indicator.js" asp-append-version="true"></script>
    <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var requestTypeId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("DeletePicture", "Folders")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeletePicture", "Folders")',
                    renderModalPartialViewData: JSON.stringify({ "id": requestTypeId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

        });

        $(function () {

            $("a[id^='btnCopy']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var copyId = $(this).data("copy-id");
                var copyPath = $(this).data("copy-path");
                var copyName = $(this).data("copy-name");
                var successful = false;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CopyToClipboard","Home",new {area="Identity"})',
                    data: { "text":  copyPath},
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status == 403) {
                            window.location = "/identity/login";
                        }
                        else if (status === 'error' || !data || data == "nok") {
                            var $temp1 = $("<input>");
                            $("body").append($temp1);
                            //var copyValue = $('#' + copyId).text();
                            $temp1.val(copyPath).select();
                            successful = document.execCommand('copy');
                            $temp1.remove();
                        }
                        else {
                            successful = true;
                            var $temp2 = $("<input>");
                            $("body").append($temp2);
                            //var copyValue = $('#' + copyId).text();
                            $temp2.val(copyPath).select();
                            document.execCommand('copy');
                            $temp2.remove();
                        }

                        var msgClass = successful ? 'success' : 'error';
                        var msgText = successful ? ' کپی شد ' : ' کپی نشد ';

                        Swal.fire({
                            position: 'top-end',
                            type: msgClass,
                            title: msgText,
                            text: copyName,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });
            });

        });
    </script>
}
