@model IEnumerable<PictureViewModel>

@{
    ViewData["Title"] = "لیست فایل ها";
}

<div id="alert_placeholder"></div>

@foreach (var item in Model)
{
    <div class="form-group row">
        <label asp-for="@item.Path" class="col-md-2 col-form-label text-md-left"></label>
        <div class="col col-md-8">
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-image"></i></span>
                </span>
                <input asp-for="@item.Url" id="path-@item.Id" autocomplete="off" dir="ltr" class="form-control" readonly="readonly"/>

                <span class="input-group-prepend input-group-text">
                    <a href="#" id="btnCopy-@item.Id" data-copy-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="ذخیره مسیر">
                        <i class="fas fa-copy text-success"></i>
                    </a>
                </span>

                <span class="input-group-prepend input-group-text">
                    <a href="#" id="btnDelete-@item.Id" data-delete-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="حذف">
                        <i class="fas fa-trash text-danger"></i>
                    </a>
                </span>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(item.Extension))
        {
            @if (Hatra.Common.Extensions.ImageExtensions.IsImage(item.Extension))
             {
                 <div class="col col-md-2">
                     <div class="media">
                         <img src="@item.ThumbnailUrl" class="mr-3" alt="@item.Name">
                     </div>
                 </div>
             }
             else
             {
                 <div class="col col-md-2">
                     <span><i class="fas fa-file" data-toggle="tooltip" data-placement="bottom" title="@item.Extension?.Remove(0, 1)"></i></span>
                 </div>
             }
        }
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var requestTypeId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("DeletePicture", "Folders")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeletePicture", "Folders")',
                    renderModalPartialViewData: JSON.stringify({ "id": requestTypeId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

        });

        $(function () {

            $("a[id^='btnCopy']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var copyId = $(this).data("copy-id");

                var textBoxId = 'path-' + copyId;
                var textBox = $("#" + textBoxId);

                var textBoxValue = textBox.val();

                textBox.focus();
                textBox.select();

                var successful = document.execCommand('copy');
                var msgClass = successful ? 'alert-success' : 'alert-danger';
                var msgText = successful ? ' - کپی شد ' : ' - کپی نشد ';

                var alertHtml= '<div class="alert '+msgClass+' alert-dismissible fade show" role="alert">'+
                    '<strong>'+textBoxValue+'</strong>'+msgText+
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span>'+
                    '</button>'+
                    '</div>';

                $('#alert_placeholder').html(alertHtml);
            });

        });
    </script>
}
