<!-- Call To Action Area -->
@*<div class="tm-section call-to-action-area bg-theme">
    <div class="container">
        <div class="row align-items-center tm-cta">
            <div class="col-lg-9 col-md-8 col-12">
                <div class="tm-cta-content">
                    <h3>آیا نگران کسب و کار خود هستید؟</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="tm-cta-button">
                    <a href="#" class="tm-button tm-button-white">تماس با ما<b></b></a>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!--// Call To Action Area -->
<!-- Footer Area -->
<div class="footer fixed-footer">

    <!-- Footer Widgets Area -->
    <div class="footer-toparea tm-padding-section" data-bgimage="/lib/deconsultrtl/assets/images/bg/footer-bg.jpg" data-overlay="2">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Info) -->
                    <div class="single-widget widget-info">
                        <a class="widget-info-logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/assets/base/v9/tahlilgaran_logo.png" alt="footer logo">
                        </a>
                        @if (!string.IsNullOrWhiteSpace(ViewBag.FooterDescription))
                        {
                            <p>@ViewBag.FooterDescription</p>
                        }
                        @*<a href="#" class="tm-button">بیشتر بخوانید<b></b></a>*@
                    </div>
                    <!--// Single Widget (Widget Info) -->
                </div>

                <vc:useful-link></vc:useful-link>

                @*<div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Blog) -->
                    <div class="single-widget widget-recentpost">
                        <h5 class="widget-title">پست های اخیر</h5>
                        <ul>
                            <li>
                                <a href="#" class="widget-recentpost-image">
                                    <img src="/lib/deconsultrtl/assets/images/blog/thumbnails/blog-thumbnail-1.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگ</a></h6>
                                    <span>20،اردیبهشت،97</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="widget-recentpost-image">
                                    <img src="/lib/deconsultrtl/assets/images/blog/thumbnails/blog-thumbnail-2.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="#">لورم ایپسوم متن ساختگی با تولید </a></h6>
                                    <span>20،اردیبهشت،97</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="widget-recentpost-image">
                                    <img src="/lib/deconsultrtl/assets/images/blog/thumbnails/blog-thumbnail-3.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="#">لورم ایپسوم متن ساختگی با</a></h6>
                                    <span>20،اردیبهشت،97</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Blog) -->
                </div>*@

                @*<div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Newsletter) -->
                    <div class="single-widget widget-newsletter">
                        <h5 class="widget-title">در تماس باشید</h5>
                        <p>اخبار کسب و کار، راه حل مشکلات خود را از کارشناسان ما دریافت کنید</p>
                        <form id="tm-mailchimp-form" class="widget-newsletter-form">
                            <input id="mc-email" type="email" placeholder="ادرس پست الکترونیکی را وارد کن">
                            <button id="mc-submit" type="submit" class="tm-button">مشترک شوید<b></b></button>
                        </form>
                        <!-- Mailchimp Alerts -->
                        <div class="tm-mailchimp-alerts">
                            <div class="tm-mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="tm-mailchimp-error"></div>
                        </div>
                        <!--// Mailchimp Alerts -->
                    </div>
                    <!--// Single Widget (Widget Newsletter) -->
                </div>*@

            </div>
        </div>
    </div>
    <!--// Footer Widgets Area -->
    <!-- Footer Copyright Area -->
    <div class="footer-copyrightarea">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12">
                    <p class="footer-copyright">کپی رایت © @DateTimeOffset.Now.Year<a href="/"> @ViewBag.PersianSiteName </a>تمام حقوق محفوظ است</p>
                </div>
                <div class="col-md-6 col-12">
                    <div class="footer-copyrightsocial">
                        <ul>
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Twitter))
                            {
                                <li><a href="@ViewBag.Twitter" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Facebook))
                            {
                                <li><a href="@ViewBag.Facebook" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Skype))
                            {
                                <li><a href="@ViewBag.Skype" data-toggle="tooltip" data-placement="top" title="Skype" target="_blank"><i class="fa fa-skype"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Pinterest))
                            {
                                <li><a href="@ViewBag.Pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Telegram))
                            {
                                <li><a href="@ViewBag.Telegram" data-toggle="tooltip" data-placement="top" title="Telegram" target="_blank"><i class="fa fa-telegram"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Instagram))
                            {
                                <li><a href="@ViewBag.Instagram" data-toggle="tooltip" data-placement="top" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.LinkedIn))
                            {
                                <li><a href="@ViewBag.LinkedIn" data-toggle="tooltip" data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(ViewBag.WhatsApp))
                            {
                                <li><a href="@ViewBag.WhatsApp" data-toggle="tooltip" data-placement="top" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Footer Copyright Area -->

</div>
<!--// Footer Area -->