@model IEnumerable<PageViewModel>
@if (Model.Any())
{
    <div class="tm-section blogs-area bg-white tm-padding-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                    <div class="tm-section-title text-center">
                        <h2>آخرین مطالب</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p>@*آخرین خبرهای اقتصادی و مالیاتی ایران و جهان*@ </p>
                    </div>
                </div>
            </div>
            <div class="blog-slider-active tm-slider-arrow tm-slider-arrow-hovervisible">
                @foreach (var item in Model)
                {
                    <div class="blog-slider-item">
                        <div class="tm-blog wow fadeInUp">
                            <div class="tm-blog-image">
                                @if (!string.IsNullOrWhiteSpace(item.Image))
                                {
                                    <a asp-controller="ShowPage" asp-action="ShowPageDetail" asp-route-id="@item.Id" asp-route-slugUrl="@item.SlugUrl" class="blogitem-imageslider-image">
                                        <img src="@item.Image" alt="@item.ImageName" onerror="this.style.display = 'none'">
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="ShowPage" asp-action="ShowPageDetail" asp-route-id="@item.Id" asp-route-slugUrl="@item.SlugUrl" class="blogitem-imageslider-image">
                                        <img src="/lib/deconsultrtl/assets/images/blog/blog-image-1.jpg" alt="@item.SlugUrl" onerror="this.style.display = 'none'">
                                    </a>
                                }
                            </div>
                            <div class="tm-blog-content">
                                <div class="tm-blog-meta">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <security-trimming asp-area="" asp-controller="Pages" asp-action="RenderEdit">
                                            <span><i class="fa fa-edit"></i><a asp-controller="Pages" asp-action="RenderEdit" asp-route-id="@item.Id">ویرایش</a></span>
                                        </security-trimming>
                                    }
                                    <span><i class="fa fa-user-o"></i>توسط<a asp-controller="ShowPage" asp-action="ShowPagesByUser" asp-route-id="@item.CreatedByUserId" asp-route-slugUrl="@item.CreatedUserNameSlugUrl"> @item.CreatedUserName </a></span>
                                    <span><i class="fa fa-calendar-o"></i>@item.CreatedPersianDateTime</span>
                                    @if (item.CategoryId.HasValue)
                                    {
                                        <span><i class="fa fa-folder-o"></i><a asp-controller="ShowPage" asp-action="ShowCategory" asp-route-id="@item.CategoryId" asp-route-slugUrl="@item.SlugUrl">@item.CategoryName</a></span>
                                    }
                                </div>
                                <h5><a asp-controller="ShowPage" asp-action="ShowPageDetail" asp-route-id="@item.Id" asp-route-slugUrl="@item.SlugUrl">@item.Title</a></h5>
                                <p>@item.BriefDescription</p>
                                <a asp-controller="ShowPage" asp-action="ShowPageDetail" asp-route-id="@item.Id" asp-route-slugUrl="@item.SlugUrl" class="tm-readmore">ادامه مطلب...</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}