@model IEnumerable<MenuViewModel>
    <!-- Header -->
<div class="header sticky-header">

    <!-- Header Top Area -->
    <div class="header-toparea">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="header-topinfo">
                        <ul>
                            <li><a href="tel_3A//+1-800-915-6270"><i class="fa fa-phone"></i>1-800-915-6270</a></li>
                            <li><a href="mailto://contact@example.com"><i class="fa fa-envelope-o"></i>contact@example.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="header-topinfo text-right">
                        <ul>
                            <li><i class="fa fa-clock-o"></i>شنبه تا پنج شنبه:9 تا 17 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Top Area -->
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
        <div class="container">
            <div class="header-bottominner">
                <div class="header-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/base/tahlilgaran_logo.png" alt="deconsult logo">
                    </a>
                </div>
                <nav class="tm-navigation">
                    <ul>
                        @foreach (var item in Model.Where(p => !p.ParentId.HasValue))
                        {
                            if (item.IsMegaMenu)
                            {
                                <li class="tm-navigation-megamenu">
                                    <a href="#">@item.Name</a>
                                    <ul>
                                        @foreach (var subitem in Model.Where(p => p.ParentId.HasValue && p.ParentId == item.Id))
                                        {
                                            <li>
                                                <a href="@subitem.Link">@subitem.Name</a>
                                                <ul>
                                                    @foreach (var subitem2 in Model.Where(p => p.ParentId.HasValue && p.ParentId == subitem.Id))
                                                    {
                                                        <li><a href="@subitem2.Link">@subitem2.Name</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li @if (Model.Any(p => p.ParentId == item.Id)) { <text>
                                    class="tm-navigation-dropdown"
                                    </text> }>
                                    <a href="@item.Link">@item.Name</a>
                                    <ul>
                                        @foreach (var subitem in Model.Where(p => p.ParentId.HasValue && p.ParentId == item.Id))
                                        {
                                            <li>
                                                <a href="@subitem.Link">@subitem.Name</a>
                                                @if (Model.Any(p => p.ParentId.HasValue && p.ParentId == subitem.Id))
                                                {
                                                    <ul>
                                                        @foreach (var subitem2 in Model.Where(p => p.ParentId.HasValue && p.ParentId == subitem.Id))
                                                        {
                                                            <li><a href="@subitem2.Link">@subitem2.Name</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </nav>
                <div class="header-icons">
                    <ul>
                        @*
                            <li>
                                <button title="Search" class="header-searchtrigger"><i class="fa fa-search"></i></button>
                            </li>*@
                        @*
                            <li>
                                <a href="cart.html" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a>
                            </li>*@
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a title="Admin Panel" class="header-loginformtrigger" asp-area="Identity" asp-controller="Home" asp-action="Index"><i class="fa fa-user"></i></a>
                            }
                            else
                            {
                                <a title="Login / Register" class="header-loginformtrigger" asp-area="Identity" asp-controller="Login" asp-action="Index"><i class="fa fa-user"></i></a>
                            }
                        </li>
                    </ul>
                </div>

                @*<!-- Header Searchform -->
                    <div class="header-searchbox">
                        <form action="#" class="header-searchform">
                            <input type="text" placeholder="کلمه کلیدی جستجو را وارد کنید">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--// Header Searchform -->*@

            </div>
            <div class="header-mobilemenu clearfix">
                <div class="tm-mobilenav"></div>
            </div>
        </div>
    </div>
    <!--// Header Bottom Area -->

</div>
<!--// Header -->
