@model IEnumerable<SlideShowViewModel>
<!-- Heroslider -->
<div class="heroslider">
    <div class="heroslider-slider heroslider-animted tm-slider-arrow">

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="heroslider-wrapper">
                    <div class="heroslider-single" data-bgimage="@item.Image" data-black-overlay="8">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-10">
                                    <div class="heroslider-content text-center">
                                        <div class="heroslider-animatebox">
                                            <h1>
                                                <span>@item.Title</span>
                                                <b>@item.BriefDescription</b>
                                            </h1>
                                        </div>
                                        <div class="heroslider-animatebox">
                                            <p>@item.Description</p>
                                        </div>
                                        <div class="heroslider-animatebox">
                                            <div class="tm-buttongroup">
                                                @if (item.Link != null || item.Link != "")
                                                {
                                                    <a href="@item.Link" class="tm-button">ادامه مطلب<b></b></a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <!-- Heroslider Item -->
            <div class="heroslider-wrapper">
                <div class="heroslider-single" data-bgimage="lib/deconsultrtl/assets/images/hero/heroimage-1.jpg" data-black-overlay="8">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10">
                                <div class="heroslider-content text-center">
                                    <div class="heroslider-animatebox">
                                        <h1>
                                            <span>ما بهترین ارائه می دهیم</span>
                                            <b>خدمات مشاوره</b>
                                        </h1>
                                    </div>
                                    <div class="heroslider-animatebox">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گ</p>
                                    </div>
                                    <div class="heroslider-animatebox">
                                        <div class="tm-buttongroup">
                                            <a href="about-us.html" class="tm-button">درباره ی ما<b></b></a>
                                            <a href="services.html" class="tm-button tm-button-white">خدمات ما<b></b></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Heroslider Item -->
        }

    </div>
    <div class="heroslider-slidecounter"></div>
</div>
<!--// Heroslider -->