@model ErrorViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = Layout = "~/Views/Shared/_LayoutN.cshtml";
    this.Context.Response.StatusCode = Model.StatusCode;
}

<div class="tm-breadcrumb-area tm-padding-section text-center" data-overlay="1" data-bgimage="assets/images/bg/bg-breadcrumb.jpg">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2 class="tm-breadcrumb-title">@Model.Description</h2>
            <ul>
                <li><a href="/">خانه</a></li>
                <li>@Model.StatusCode</li>
            </ul>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="tm-section page-not-found-area tm-padding-section bg-white">
        <div class="container">
            <div class="tm-pnf">
                <h1>@Model.StatusCode</h1>
                <h2>مشکلی پیش آمده است</h2>
                <h4>@Model.Description</h4>
                <a href="/" class="tm-button">بازگشت به صفحه اصلی</a>
                @if (Model.IsAuthenticated && User.IsInRole(ConstantRoles.Admin))
                {
                    <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.IdentityArea" class="tm-button">مشاهده‌ی لیست خطاهای ثبت شده</a>
                }
            </div>
        </div>
    </div>
</main>
