@model GeneralStatisticsViewModel

<li class="list-group-item d-flex justify-content-between align-items-center">
    امروز
    <span class="">@DateTimeOffset.UtcNow.ToShortPersianDateString().ToPersianNumbers()</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
    بازدید امروز
    <span class="">@Model.TodayVisits</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
    بازدید دیروز
    <span class="">@Model.YesterdayVisits</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
    بازدید این ماه
    <span class="">@Model.ThisMonthVisits</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
    بازدید امسال
    <span class="">@Model.ThisYearVisits</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center text-success">
    <span>
        <i class="fas fa-arrow-alt-circle-up"></i>
        پر بازدید ترین روز
    </span>
    <span class="">@Model.PeakDate?.ToPersianDateTextify()</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center text-danger">
    <span>
        <i class="fas fa-arrow-alt-circle-down"></i>
        کم بازدید ترین روز
    </span>
    <span class="">@Model.LowDate?.ToPersianDateTextify()</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
    بازدید کل
    <span class="">@Model.TotalVisits</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
    بازدید یونیک
    <span class="">@Model.UniqueVisitors</span>
</li>