@model StatisticsHelperViewModel<UserBrowserViewModel>

<table class="table">
    <tbody>
        @foreach (var item in Model.ViewModels)
        {
            double currentNum = (double)item.ViewCount * 100 / Model.TotalVisits;
            <tr>
                <td class="text-danger"><i class="@item.Icon"></i></td>
                <td>@item.Name</td>
                <td class="text-primary">@item.ViewCount</td>
                <td>
                    <div class="progress flex-fill">
                        <div class="progress-bar bg-info" role="progressbar" style="min-width: 20px; width: @currentNum%;" aria-valuenow="@currentNum" aria-valuemin="0" aria-valuemax="100">@currentNum.ToString("F1")%</div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>