@model PagedAdminPageViewModel

@{
    ViewData["Title"] = "مدیریت صفحه ها";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <partial name="_List" model="Model.PageViewModels" />
    </div>
    <footer class="card-footer">
        <div class="form-group row">
            <security-trimming asp-area="" asp-controller="Pages" asp-action="RenderCreate">
                <a class="btn btn-success" asp-controller="Pages" asp-action="RenderCreate">
                    ایجاد یک صفحه جدید
                </a>
            </security-trimming>
        </div>
        <div class="form-group row">
            <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                      cs-paging-pagenumber="@Model.Paging.CurrentPage"
                      cs-paging-totalitems="@Model.Paging.TotalItems"
                      cs-pagenumber-param="page"
                      asp-controller="Pages"
                      asp-action="Index"
                      asp-route-pagesize="@Model.Paging.ItemsPerPage"
                      cs-show-first-last="true"
                      cs-suppress-empty-nextprev="true"
                      cs-suppress-inactive-firstlast="true"
                      cs-first-page-text="ابتدا"
                      cs-first-page-title="ابتدا"
                      cs-last-page-text="انتها"
                      cs-last-page-title="انتها"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link"
                      cs-pager-ul-class="pagination"
                      cs-next-page-title="بعدی"
                      cs-previous-page-title="قبلی"></cs-pager>
        </div>
    </footer>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var requestTypeId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "Pages")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDelete", "Pages")',
                    renderModalPartialViewData: JSON.stringify({ "id": requestTypeId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

        });
    </script>
}