@model PagedAdminSlideShowViewModel

@{
    ViewData["Title"] = "مدیریت اسلاید شو ها";
}

<div class="card mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">@ViewData["Title"]</h5>
            </div>
            @if (User.IsInRole(ConstantRoles.Admin))
            {
                <div class="col-md-8">
                    <div class="btn-group float-left" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-excel"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <security-trimming asp-area="" asp-controller="ExcelExIm" asp-action="Export">
                                <a class="dropdown-item" asp-area="" asp-controller="ExcelExIm" asp-action="Export" asp-route-type="@ExcelTypeEnum.SlideShows"><i class="fas fa-upload text-success"></i> Export</a>
                            </security-trimming>
                            <security-trimming asp-area="" asp-controller="ExcelExIm" asp-action="Import">
                                <div class="dropdown-divider"></div>
                                <form class="form-inline"
                                      method="post"
                                      asp-controller="ExcelExIm"
                                      asp-action="Import"
                                      asp-route-type="@ExcelTypeEnum.SlideShows"
                                      role="form"
                                      data-ajax="true"
                                      data-ajax-begin="dataAjaxBegin"
                                      data-ajax-success="dataAjaxSuccess"
                                      data-ajax-failure="dataAjaxFailure"
                                      data-ajax-method="POST"
                                      enctype="multipart/form-data">
                                    <div class="form-group mb-2">
                                        <input type="file" class="btn btn-outline-dark">
                                    </div>
                                    <button type="submit" class="dropdown-item"><i class="fas fa-download text-success"></i> Import</button>
                                </form>
                            </security-trimming>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <partial name="_List" model="Model.SlideShowViewModels" />
    </div>
    <footer class="card-footer">
        <div class="form-group row">
            <div class="col-md-4">
                <security-trimming asp-area="" asp-controller="SlideShow" asp-action="RenderCreate">
                    <a class="btn btn-success btn-block" asp-controller="SlideShow" asp-action="RenderCreate">
                        <i class="fas fa-plus"></i> ایجاد یک اسلاید شو جدید
                    </a>
                </security-trimming>
            </div>
            <div class="col-md-8">
                <div class="float-left">
                    <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                              cs-paging-pagenumber="@Model.Paging.CurrentPage"
                              cs-paging-totalitems="@Model.Paging.TotalItems"
                              cs-pagenumber-param="page"
                              asp-controller="SlideShow"
                              asp-action="Index"
                              asp-route-pagesize="@Model.Paging.ItemsPerPage"
                              cs-show-first-last="true"
                              cs-suppress-empty-nextprev="true"
                              cs-suppress-inactive-firstlast="true"
                              cs-first-page-text="ابتدا"
                              cs-first-page-title="ابتدا"
                              cs-last-page-text="انتها"
                              cs-last-page-title="انتها"
                              cs-pager-li-current-class="page-item active"
                              cs-pager-li-other-class="page-item"
                              cs-pager-li-non-active-class="page-item disabled"
                              cs-pager-link-current-class="page-link"
                              cs-pager-link-other-class="page-link"
                              cs-pager-ul-class="pagination"
                              cs-next-page-title="بعدی"
                              cs-previous-page-title="قبلی"></cs-pager>
                </div>
            </div>
        </div>
    </footer>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var requestTypeId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "SlideShow")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDelete", "SlideShow")',
                    renderModalPartialViewData: JSON.stringify({ "id": requestTypeId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

        });
    </script>
}